.wrapper {
  background-color: #08122e;
  width: 100%;
  border-radius: 20px;
}

.bgImage {
  background-image: url("/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  background-color: #09132f;
  color: #fefefe;
  border: 1px solid;
  border-image-source: linear-gradient(
      113.96deg,
      rgba(255, 231, 231, 0.46) 0%,
      rgba(255, 255, 255, 0.47) 7.3%,
      rgba(0, 0, 0, 0) 23.96%,
      rgba(255, 255, 255, 0.3) 57.81%,
      rgba(115, 129, 255, 0.45) 81.28%,
      rgba(0, 7, 73, 0.31) 100%
    ),
    linear-gradient(0deg, rgba(188, 196, 215, 0.2), rgba(188, 196, 215, 0.2));
  box-shadow: 46px 46px 40px 0px #00000040;
  backdrop-filter: blur(50px);
  border-image-slice: 1;
  border-radius: 12px;
  font-size: 14px;
}

.pills {
  background: #5577ff33;
  color: #5577ff;
  border-radius: 99px;
}

.tab {
  background: #FFFFFF0D;
  width: 100%;
  border-radius: 8px;
}